
<div ng-init="setVisible(true)" style="background-color: #fff; width: 100%; height: 100vh">
    {{content}}
</div>
 
<!-- this is where content will be injected -->

<!-- <div class="nav-tabs">
<tabset type="pills">
  <tab heading="Supplies">
  	<br>
  	<br>

  	<div class="container" align="center" style="background-image:url('pix/bg.jpg'); background-repeat: no-repeat; width: 800px; height: 1000px">
	   <tabset>
	     <tab ng-controller="ModalCtrl" heading="Item"><br><br><br><br><br><br>
		   <table>
		   	 <thead>
		   	   <th>Item</th>
		   	   <th>Item Status</th>
		   	   <th>Item Price</th>
		   	   <th>Room</th>
		   	   <th>Order</th>
		   	   <th>Order Status</th>
		     </thead>
		     <tbody>
		       <tr ng-repeat="i in items">
			     <td>{{i.name}}</td>
			     <td>{{i.name}}</td>
			     <td>{{i.name}}</td>
			     <td>{{i.name}}</td>
			     <td>
			        <button class="btn btn-default" ng-click="sweetAlert(3, i.name, i.status)">Order Now</button>
			     </td>
			     <td>{{i.status}}</td>	
			   </tr>
		     </tbody>
		   </table>
         </tab>
	     <tab heading="Status"><br><br><br><br><br><br>{{content}}</tab>
	     <tab heading="Last Modified"><br><br><br><br><br><br>{{content}}</tab>
	     <tab heading="Action"><br><br><br><br><br><br>{{content}}</tab>
	   </tabset>	   
     </div>

     <div class="container" align="center">
       <form class="form-inline">

	     <select class="form-control">
	       <option>Category</option>
	       <option>All</option>
	       <option>Provision</option>
	       <option>Kitchenware</option>
	       <option>Station</option>
	     </select>  	      

         <select class="form-control">
           <option>Status</option>
	       <option>All</option>
	       <option>Available</option>
	       <option>Order in Progress</option>	         
	     </select>

	   </form>
     </div>
     <br>
  </tab>
  <tab heading="Settings">Settings</tab>
  <tab heading="History">History</tab>
  <tab heading="Reports">Reports</tab>
 </tabset> 
</div> -->
