<div class="container">
  <br>
  <p><strong>IMS</strong> &mdash; Item Management System</p>
  <p><strong>Item</strong> &mdash; things that are provided to EPAM employees free of charge for ensuring comfortable working conditions like tea, coffee, kitchenware, stationary etc.<p>
  <p><strong>Item Status</strong> &mdash; a state of the particular Item at the moment. It can be one of the following: Available, Order Submitted, Order In Progress, Order Deferred.</p>
  <p>Item Management System is designed to automate and thus simplify the process of items ordering conducted by EPAM employees on a daily basis. Note: Only responsible persons should have an ability to order items in IMS. Need to provide corresponding roles in IMS app for this. Responsible User should be a user with such permissions when other EPAM employees should be able to view Item list only.</p>
  <p>Apart from its main goal the system will allow to store statistics on the distributed items and view it in the form of reports. [IM 130416] Statistic should be used not only for reporting but to notify Item Manager about lack of items in particular location (Room) based on average consumption rate.</p>
</div>