<div ng-init="setTab(1)">

  <br>

  <div class="well container" align="center">
    <form class="form-inline">

      <select class="form-control" ng-model="category">
        <option style="display:none" value="">Category</option>
        <option value="All">All</option>
        <option value="Provision">Provision</option>
        <option value="Kitchenware">Kitchenware</option>
        <option value="Station">Station</option>
      </select>  	      

      <select class="form-control" ng-model="status">
        <option style="display:none" value="">Status</option>
        <option value="All">All</option>
        <option value="Available">Available</option>
        <option value="Order in Progress">Order in Progress</option>	         
      </select>

    </form>

 	<br>

  	<h3>{{category}}</h3>
  	<table ng-controller="ModalCtrl">
      <thead>
        <th>Item</th>
        <th>Status</th>
        <th>Last Modified</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr ng-repeat="i in items">
	      <td>{{i.name}}</td>
	      <td>{{i.status}}</td>
	      <td>???</td>
	      <td>
	        <input type="button" class="btn btn-default" ng-click="sweetAlert(i.name, i.status)" ordercancel value="Order Now"></input>
	      </td>
	    </tr>
      </tbody>
    </table>
  </div>
</div>